* {
    box-sizing: border-box;
  }

  :root {
    --color-pink: #FF006E;
    --color-red: #FD2B3B;
    --color-violet: #C11CAD;
    --color-blue1:#8CB9FF;
    --color-blue: #5697FF;
    --color-orange: #FB5607;
    --color-font-btn: #FFFFFF;
    --color-font-title: #252525;
    --color-font-links: #969595;
    --color-font-button: #000000;
    --color-font-subtitle: #797979;
    --color-font-descrit:#636363;
    --background-input:#F6F6F6;
    --background-footer: #292929;
    --color-font-footer: #DEDBDB;
    --size-links: 10px
	--sidebar-width: 250px;
   }
  
  body {
    margin: 0px;
  }

  main{
    margin: 10px 250px;
  }
  
  p{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: var(--color-font-descrit);
  }

  /*---------------------------------------------------------------------------------- navbar -----------------------------------------------------------*/

  .nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    padding: 0 250px;
    box-shadow: 0px 4px 4px rgba(110, 110, 110, 0.25);
  }
  
  .nav > .nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav > .nav-header > img {
    width: 48px;
    height: 48px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links > a {
    padding: 14px 25px 14px 25px;
    text-decoration: none;
    color: var(--color-font-links);
    font-size: var(--size-links);
  }
  
  
  .nav > #nav-check {
    display: none;
  }

  .btns-nav{
    margin: 5px 0 5px 0px;
    display: block;
  }
  .btns-resp{
    display: none;
  }

  .space{
    margin-left: 10px;
  }

  .nav > .nav-links > a:before {
    width: 100px;
    background-color: #00959C;
}
.nav > .nav-links > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: width, background-color, 0.3s ease-in-out;
}

.margin-top{
  height: 60px;
}

.container-pages{
  width: 100%;
  height: auto;
  min-height: calc(80vh + 60px);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.container{
  padding: 40px 0;
  width: 100%;
  height: calc(80vh+60);
  min-height: calc(80vh + 60px);
  margin-bottom: 10px;
}
  /* -------------------------------------------------------------------- home ------------------------------------------------------------------- */
  .home{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

   h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: var(--color-font-title);
  }

  .box-purple{
    border-radius: 3px;
    width: 38.55px;
    height: 35px;
    float: left;
    margin-left: 90px;
    margin-top: -70px;
    background: var(--color-violet);
  }

  .box-orange{
    border-radius: 3px;
    width: 44.06px;
    height: 40px;
    float: left;
    background: var(--color-orange);

    animation: go-Y 1s infinite alternate;
  }

  .box-pink{
    border-radius: 3px;
    width: 44.06px;
    height: 40px;
    float: right;
    margin-top: 50px;
    background: var(--color-pink);

  }

  .box-blue{
    border-radius: 3px;
    width: 44.06px;
    height: 40px;
    float: right;
    margin-right: 25px;
    margin-top: -40px;
    background: var(--color-blue1);
  }

  /* -------------------------------------------------------------------------------- sobre -------------------------------------------------------------- */


    /* ----------------------------------------------------------------------------- serviços ------------------------------------------------------------- */
  .servicos{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
  }

  .container-serv {
    display: flex;
    gap: 5px;
  }

  .infos-app{
    align-items: center;
    display: flex;
    text-align: initial;
    gap: 15px;
    padding: 5px;
  }

  .line{
    border-bottom: solid 1px rgb(148, 146, 146);
  }

  h4{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
    color: var(--color-font-descrit);
  }
  /* Flex Item */
  .item {
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 0;
  }
  .row {
    flex-direction: row;
  }
  
  .row-cont {
    flex-direction: row;
  }
  .box-infos-app{
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 3px;
    padding: 5px;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue);
  }

  .box-infos-app > img{
    min-height: 24px;
    min-width: 24px;
  }

  h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-font-subtitle);
    margin-bottom: -20px;
  }

  h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 32px;
    color: var(--color-font-title);
  }
  .go{
    width: 80%;
  }

  .img-servicos{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ----------------------------------------------------------------------------- contato --------------------------------------------------------------- */
  .item-contato{
    width: 600px;
    height: 100%;
  }
  
  .backgroud-img{
    width: 50%;
    height: auto;
    margin-right: 30px;
  }

  .fundo{
    background-color: var(--color-red);
    z-index: 1;
    width: 80%;
    height: 100%;
    margin-bottom: -6px;
  }

  .backgroud-img > .fundo > img{
    margin-bottom: -6px;
    width: 550px;
    z-index: 2;

  }
.content-contato-img{
    width: 100%;

}
  .item-form{
    width: 100%;
    right: 0;
  }

  form{
    text-align: initial;
    margin-left: 0;
    width: 100%;
  }

  .teste{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-go{
    width: 100px;
  }

  .input-icon{
    width: 100%;
    height: 60px;
    display: flex;
    border-radius: 3px;
    margin-bottom: 15px;
  }

  .input-icon-msg{
    width: 100%;
    height: 120px;
    display: flex;
    border-radius: 3px;
  }

  .box-icon-contato{
    width: 70px;
    border-radius: 3px 0 0 3px;
    background-color: #bdbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-icon-contato img{
    width: 24px;
  }
  input{
    padding: 5px;
    width: 100%;
    border-radius: 0 3px 3px 0;
    background-color: var(--background-input);
    border: none;
    height: auto;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: var(--color-font-descrit);
  }

  textarea{
    padding: 5px;
    width: 100%;
    border-radius: 0 3px 3px 0;
    background-color: var(--background-input);
    border: none;
    height: auto;
    outline: none;
    resize: none;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: var(--color-font-descrit);
  }

  textarea::placeholder{
      font-family: 'Nunito', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 26px;
      color: var(--color-font-links);
  }
  input::placeholder{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    color: var(--color-font-links);
}

.btn-contact{
  margin-top: 15px;
  padding: 15px!important;
  background-color: var(--color-blue1);
  width: 100%;
}

  /* ----------------------------------------------------------------------------- footer  ---------------------------------------------------------*/
  .site-footer
{
  background-color:var(--background-footer);
  padding: 10px 250px;
  font-size:15px;
  line-height:24px;
  color:var(--color-font-footer);
}

.flex-footer{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.img-footer{
  padding-top: 15px;
  width: 150px;
}

.site-footer hr
{
  border-color: #b6b6b6;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
  /* ------------------------------------------------------------------------------ botões ----------------------------------------------------------------*/
  .button{
    border-radius: 3px;
    padding: 7px 35px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.5px;
    size: var(--size-links);
    font-weight: 700;
    color: var(--color-font-btn);
    transition: ease-in 300ms;
  }

  .btn-pink{
    border: 2px solid var(--color-pink);
    background-color: var(--color-pink);
  }
  .btn-pink:hover{
    background-color: var(--color-font-btn);
    color: var(--color-pink);
  }

  .btn-orange{
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange);
  }
  .btn-orange:hover{
    background-color: var(--color-font-btn);
    color: var(--color-orange);
  }

  .btn-blue{
    border: 2px solid var(--color-blue);
    background-color: var(--color-blue);
    padding: 14px 37px;
  }
  .btn-blue:hover{
    background-color: var(--color-font-btn);
    color: var(--color-blue);
  }


  /*------------------------------------------------------------------- responsive ----------------------------------------------------------------*/
  @media(max-width:500px){
    .padding-container{
      padding-top: 100px !important;
    }

  }

  @media(max-width:1650px){
    .backgroud-img > .fundo > img{
      width: 410px;
    }
    .fundo{
      width:90%;
    }
  }
  
  .backgroud-img{
    width: 80%;
  }
  @media(max-width:1300px){
    .row-cont {
      flex-direction: column!important;
    }
    .backgroud-img{
      display: none;
    }

  }

  @media (max-width:1200px) {
    .item{
      padding: 0;
    }
    .row {
      flex-direction: column!important;
    }
    .go{
      width: 50%;
    }
  }
  @media (max-width:600px) {
    .go{
      display: none;
    }


  }

    
    @media (max-width:1139px) {

      .flex-footer{
       flex-direction: column;
      }

      .site-footer
      {
        padding: 10px;
      }
      main{
        margin:10px!important;
      }
  
      .btns-resp{
        display: block;
      }
  
      .nav {
        padding: 7px 20px;
      }
      .btns-nav{
        display: none;
      }
      .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 60px;
        padding: 20px 5px;
      }
  
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgb(255, 255, 255);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
    }