/* card background */
.background{
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.background__content{
    width: 100%;
    height: 80%;
    background-color: #144D6C;
    padding: 10%;
    border-radius: 3px;
    box-shadow: 0px 4px 8px -5px rgba(0,0,0,0.64);
}
.nameUser{
    padding-top: 9px;
}

/* Card perfil mobile */
.card__perfil__mobile{
    display: none;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--menu-color);
    border-radius: 3px;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.64);
}

/* Card Informações do Perfil  */
.card__infos__perfil{
    background-color: white;
    border-radius: 3px;
    height: 300px;
    padding-bottom: 10px;
    margin-top: -120px;
    margin-left: 20px;
    width: 25%;
    box-shadow: 0px 4px 8px -5px rgba(0,0,0,0.64);
    
}
.card__flex{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card__text{
    align-items: center;
}
.icon__perfil{
    min-width: 35px;
    min-height: 35px;
    font-size: 18px;
}
.icon__user__perfil{
    width: 50px;
    height: 50px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 300;
    border-radius: 50%;
    background-color: #7D63A9;
}
.fa-solid, .fas{
    padding-right: 5px;
}
.text__location{
    display: flex;
    padding: 12px;
}
.edit__button{
    font-weight: bold;
    padding: 10px;
    border-radius: 2px;
    border: solid #144D6C;
    background-color: Transparent;
    color: #144D6C;
    width: 100%;
    cursor: pointer;
}
.edit__button:hover{
    background-color: #144D6C;
    color: white;
}
.fa-pen-to-square{
    padding-right: 5px;
    font-size: 20px;
}

/* initial menu right*/
.i__navbar{
    width: 100%;
    align-items: center;
    justify-items: center;
    z-index: 999999;
    will-change: transform;
    transform: translateZ(0);
    justify-content: space-between;
}
.i__navbar ul{
    padding: 0;
    background-color: var(--input-color);
}
.i__navbar li{
    border-bottom: 1px solid var(--border-color);
}
#activeleft{
    border-left: 3px solid #144D6C;
}
.i__navbar li a{
    font-size: var(--small-font-size);
    display: block;
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    padding: 8px 16px;
    list-style: none;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}


/* Card escrever publicação */
.card__write{
    font-size: var(--smaller-font-size);
    background-color: var(--background-card);
    margin-top: 15px;
    width: 100%;
}
.font__card{
    text-align: center;
    text-justify: inter-word;
}

/* final menu */
.f__navbar__mobile{
    display: none;
    border-radius: 3px;
    height: 50px;
    z-index: 999999;
    will-change: transform;
    transform: translateZ(0);
    justify-content: space-between;
}
.f__navbar{
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: var(--links-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
.f__navbar ul{
    display: flex;
    justify-content: space-between;
    background-color: var(--input-color);
}
.f__navbar li{
    border-bottom: 1px solid var(--input-color);
    display: flex;
}

.f__navbar li a{
    font-size: var(--small-font-size);
    display: block;
    color: var(--title-color);
    padding: 10px 18px;
    list-style: block;
    text-decoration: none;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: ease-in 300ms;
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
}

.f__navbar li.active{
    border-bottom: 3px solid #144D6C;
}

#active{
    border-bottom: 3px solid #144D6C;
}

/*================================================================================ RESPONSIVE ====================================================================*/
/*======= PADDING =======*/

@media screen and (min-width: 1600px) {

    .card__infos__perfil {
        display: block;
    }

    .card__infos__navbar {
        display: block;
    }
    .card__perfil__mobile{
        display: none;
    }
    

}

@media screen and (max-width: 1448px) {

    
    
    
}

@media screen and (max-width: 1599px) {
    .card__infos__perfil{
        display: block;
    }

    .card__infos__navbar {
        display: block;
    }
    

}

@media screen and (max-width: 1400px) {
    .card__infos__perfil{
        display: block;
    }

    .card__infos__navbar {
        display: block;
    }

    .edit__button{
        width: 190px;
    }
    

}
@media screen and (max-width: 1200px) {
    
    .edit__button{
        width: 180px;
    }
    
    
}
@media screen and (max-width: 1000px) {
    
    .edit__button{
        width: 160px;
    }
    .card__infos__perfil {
        height: 290;
    }
   
    .card__infos__navbar{
        width: 250px;
    }
}
@media screen and (max-width: 900px) {
    
    .card__perfil__mobile{
        display: block;
    }
    .card__infos__perfil {
        display: none;
    }

    .i__navbar {
        display: none;
    }

    .f__navbar__mobile {
        display: block;
    }

    .card__infos__navbar {
        display: none;
    }

}
@media screen and (max-width: 400px) {
    .f__navbar li a{
        font-size: var(--smaller-font-size);
        padding: 10px 5px;
    }
    
}





