.stages {
	font-size: 0;
	text-align: justify;
	padding-top: 15px;
}
.contest{
	height: calc(120vh - 81px);
}

.stages:after {
	content: '';
	display: inline-block;
	font-size: 0;
	text-align: center;
	width: 100%;
}

input[type="radio"] {
	display: none;
}

.stages label {
	background: #c8c8c8;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	text-align: center!important;
	position: relative;
	width: 50px;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.stages label:after {
	padding: 0;
	background: #61BAB5;
	width: 100%;
	border-radius: 3px;
	text-align: center;
	content: '\2713';
	color: #ffffff;
	display: inline-block;
	font-size: 16px;

}

#one:checked ~ .stages label,
#two:checked ~ .stages label[for="one"] ~ label,
#six:checked ~ .stages label[for="five"] ~ label {
	font-size: 1rem;
}

#one:checked ~ .stages label:after,
#two:checked ~ .stages label[for="one"] ~ label:after,
#three:checked ~ .stages label[for="two"] ~ label:after,
#four:checked ~ .stages label[for="three"] ~ label:after,
#five:checked ~ .stages label[for="four"] ~ label:after,
#six:checked ~ .stages label[for="five"] ~ label:after {
	display: none;
}

.progress > span {
	background: #61BAB5;
	display: inline-block;
	height: 5px;
	transform: translateY(-2.75em);
	transition: 0.3s;
	width: 0;
}

#two:checked ~ .progress span {
	width: calc(100% / 2 * 1);
}

#three:checked ~ .progress span {
	width: calc(100% / 5 * 2);
}


#four:checked ~ .progress span {
	width: calc(100% / 5 * 3);
}

#five:checked ~ .progress span {
	width: calc(100% / 5 * 4);
}

#six:checked ~ .progress span {
	width: calc(100% / 5 * 5);
}

.panels div {
	display: none;
}

#one:checked ~ .panels [data-panel="one"],
#two:checked ~ .panels [data-panel="two"],
#three:checked ~ .panels [data-panel="three"],
#four:checked ~ .panels [data-panel="four"],
#five:checked ~ .panels [data-panel="five"],
#six:checked ~ .panels [data-panel="six"] {
	display: block;
}

/* Topico da pagina */
.topic__link__contestation{
    display: flex;
    justify-content: flex-end;
}
.top__contest{
	align-items: center;
    gap: 10px;
    padding: 30px 0;
    font-size: 13.5px;
    width: 100%;
}
.top__contest hr{
	width: 75%;
	float: right;
    text-align: right;
    margin-right: 0 0 0;
    border-width: 0;
    height: 0.2px;
    border-top-width: 0.2px;
    border: 0.2px solid var(--border-color);
}
.topic__link__contestation{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
    
}


.bottom__link__contestation{
	display: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.link__contestation{
	float: right;
	color: var(--first-color);
    font-size: var(--smaller-font-size);
	font-weight: bold;
	cursor: pointer;
    transition: ease-in 300ms;
}
.link__contestation:hover{
	color: var(--links-hover);
}

/* Custom code for the demo */

.form {
	min-width: 100px;
	text-align: initial;
    align-items: center;
    flex-direction: column;
}
.step__title{
	display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    
}

.message__step{
    display: grid;
    justify-items: center;
    padding: 45px;
    gap: 10%;
    text-align: center;
}

.panels div {
	padding: 0.5em 0 0;
}

.left{
	float: left;
	background-color: #ffffff;
	border: solid 2px #61BAB5;
	border-radius: 3px;
	color: #61BAB5;
}

button {
	float: right;
	border: solid 2px #61BAB5;
	background-color: #61BAB5;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-weight: 700;
	margin: 1em 0 0 0;
	padding: 0.5em 2em;
}

button:hover {
	opacity: 0.8;
}

input{
	margin-bottom: 10px;
}

.icon__pass {
	left: 86%;
    top: -42px;
}

.buttons__form{
	margin-top: 50px;
}

.display {
    display: block !important;
}
.inputs__formcad{
	width: 100%;
	display: flex;
	gap: 50px;
}
.icon__message__step{
    display: flex;
    border-radius: 50%;
    border: 4px solid var(--first-color);
    width: 60px !important;
    height: 60px !important;
    background-color: var(--body-color);
    padding: 10px;
    position: relative;
}
.icon__message__step i{
    position: absolute;
    font-size: 30px;
    padding-top: 1px;
    color: var(--first-color);
    font-style: var(--font-semi-bold);
}

.section__title{
	font-size: var(--h2-font-size);
}
.about__description{
	font-size: var(--normal-font-size);
}
.edit__button__cont{
	font-weight: bold;
    padding: 10px;
    border-radius: 2px;
    border: solid var(--color-toggle);
    background-color: Transparent;
    color: #144D6C;
    width: 100%;
    cursor: pointer;
}
.edit__button__save:hover{
    background-color: var(--color-toggle);
    color: white;
}
.container__feed__contestation{
	width: 73%;
}
.config{
	width: 300px;
	padding-top: 33px;
}

/*================================================================================ RESPONSIVE ====================================================================*/
/*======= PADDING =======*/
@media screen and (min-width: 1600px) {
	.container__feed__contestation {
        max-width: 730px;
    }
	
	.top__contest hr {
        width: 75%;
    }
	.bottom__link__contestation{
		display: none;
	}

}
@media screen and (max-width: 1448px) {
    .top__contest hr {
        width: 75%;
    }
	.container__feed__contestation {
		height: calc(94vh - 51px);
        overflow: scroll;
        overflow-x: hidden;
    }
}
@media screen and (max-width: 1400px) {
    .top__contest hr {
        width: 100%;
    }
	.container__feed__contestation {
		height: calc(94vh - 51px);
        overflow: scroll;
        overflow-x: hidden;
    }

}

@media screen and (max-width: 1150px) {
    .top__contest hr {
        width: 75%;
    }
	.container__feed__contestation {
        width: 100% !important;
    }
	
}


@media screen and (max-width: 900px){
	.topic__link__contestation{
		display: none;
	}
	.bottom__link__contestation{
		display: block;
	}
		
	.top__contest hr {
        width: 75%;
    }
	.container__feed__contestation {
        width: 100% !important;
    }

	}


@media screen and (max-width:767px) {
	.progress > span {
		display: list-item;
		margin-top: 10px;
	}

	.form p{
		text-align: center;
	}

	.bottom__link__contestation{
		display: block;
	}
	
	.top__contest hr {
        width: 75%;
    }

}

@media screen and (max-width:412px) {
	.progress > span {
		display: list-item;
		margin-top: 10px;
	}
	.section__title{
		font-size: 14px;;
	}

	.form p{
		text-align: center;
		font-size: var(--smaller-font-size);
	}

	
}
@media screen and (max-width: 537px) {

    .top__contest hr {
        width: 75%;
    }
	.stages label {
		height: 45px;
		line-height: 45px;
		width: 45px;
	}
	.progress span{
		margin-top: 15px;
	}
		
	.form p{
		font-size: var(--smaller-font-size);
	}
	.section__title{
		font-size: 14px;;
	}
}

@media screen and (max-width:330px) {
	.stages{
		padding: 0;
	}
	.stages label {
		height: 45px;
		line-height: 45px;
		width: 45px;
	}
	.progress span{
		margin-top: 15px;
	}
	
	.form p{
		font-size: var(--smaller-font-size);
	}
	.section__title{
		font-size: 14px;;
	}
}
	@media screen and (max-width:380px) {
		.stages{
			padding: 0;
		}
	
		.stages label {
			height: 45px;
			line-height: 45px;
			width: 45px;
		}
		.progress span{
			margin-top: 15px;
		}
		
		.form p{
			font-size: var(--smaller-font-size);
		}
		.section__title{
			font-size: 14px;;
		}
	}
	
@media screen and (max-width:300px) {
	.stages{
		padding: 0;
	}
	
	.stages label {
		height: 30px;
		line-height: 30px;
		width: 30px;
	}
	.progress span{
		margin-top: 15px;
	}
	
	.form p{
		font-size: var(--smaller-font-size);
	}
	.section__title{
		font-size: 14px;;
	}
	
}
