html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.modal__classification{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    pointer-events: none;
    opacity: 0;
    inset: 0;
    transition: opacity .25s ease;
}

.modal__classification:target{
    opacity: 1;
    pointer-events: auto;
}

.modal__classification__inner{
    padding: 20px 40px;
    margin: 0 auto;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.modal__classification__inner h1{
    font-size: var(--h2-font-size);
    margin-bottom: 10px;
}

.modal__classification__inner h3{
    font-size: var(--small-font-size);
    font-weight: 300;
    margin-bottom: 30px;
}


.modal__classification__inner .types__of__complaints{
    display: flex;
    flex-direction: column;
    max-height: 350px;
    overflow-y: auto;
}

/*================INDIVIDUAL TYPE====================*/
.modal__classification__inner .individual__type{
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.modal__classification__inner .type__color{
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin-right: 15px;
}

.assedio{
    background-color: var(---color-assedio);
}

.assedio__moral{
    background-color: var(---color-assedio-moral);
}

.racismo{
    background-color: var(---color-racismo);
}

.agressao__fisica{
    background-color: var(---color-agressao-fisica);
}

.agressao__verbal{
    background-color: var(---color-agressao-verbal);
}

.homofobia{
    background-color: var(---color-homofobia);
}

.preconceito{
    background-color: var(---color-preconceito);
}

.furto{
    background-color: var(---color-furto);
}

.modal__classification .type__text{
    width: 100%;
}

.modal__classification .type__text h4{
    font-size: var(--small-font-size);
    margin-bottom: 10px;
}

.modal__classification .type__text{
    font-size: var(--small-font-size);

}

/*================================================================================ RESPONSIVE ====================================================================*/
@media screen and (min-width: 1600px) {
    .modal__classification__inner {
        max-width: 50%;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1280px) {
    .modal__classification__inner {
        max-width: 40%;
        padding: 10px 20px;
    }
}


@media screen and (max-width: 900px) {
    .modal__classification__inner {
        max-width: 60%;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 540px) {
    .modal__classification__inner {
        max-width: 80%;
        padding: 10px 20px;
    }
}