/*======================================================================== style padrão  ==============================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600&display=swap');


html {
  --background-card: #f6f6f6;
  --first-color: #24729E;
  --carbon-color: #242424;
  --first-color-second: #61BAB5;
  --second-color-hover: #617FBA;
  --links-color: #a7a4a4;
  --color-toggle: #144D6C;
  --color-blue: #6EB7ED;
  --check-complant: #4272EE;
  --color-blue-second: #D7E2FE;
  --color-orange: #FB5607;
  --color-blue-power: #1B1D36;
  --title-color: #393939;
  --text-color: #5A5A5A;
  --links-hover: #7c7c7c;
  --input-color: #ffffff;
  --inputs-color: #f6f6f6;
  --border-color: #dcdcdc;
  --body-color: white;
  --menu-color: #FFF;
  --modal-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);


  /* colors classifications */
  ---color-assedio: #ab1212;
  ---color-assedio-moral: #ab4212;
  ---color-racismo: #5a1b0c;
  ---color-agressao-fisica: #e6aa15;
  ---color-agressao-verbal: #b1793e;
  ---color-homofobia: #d15a32;
  ---color-preconceito: #793f2c;
  ---color-furto: #c42011;


  scroll-behavior: smooth;
}

:root {
  --header-height: 3rem;

  --hue-color: 190;

  --body-font: 'Montserrat', sans-serif;
  --post-font: 'Mukta', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --label-font-size: 12px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --padding-desktop: 12px 24em;
  --padding-notbook: 10px 15em;
  --padding-tablet: 10px 5em;
  --padding-mobile: 10px 1em;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

  --name-font: 14px;
  --city-font: 12px;
  --datas-font: 12.5px;
}

/*===================================================================== BASE DAS PÁGINAS ===========================================================================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: rgb(246, 246, 246);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(213, 213, 213);
  border-radius: 0;
}



body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

i,
button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(80vh + 60px);
}

h4 {
  color: var(--text-color);
}


.button{
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
  font-size: var(--name-font);
  border: 2px solid;
}

/*================================================================================ RESPONSIVE ====================================================================*/
@media screen and (min-width: 1600px) {
  main {
    margin-top: 70px;
    padding: var(--padding-desktop);
  }
}

@media screen and (max-width: 1599px) {
  main {
    margin-top: 60px;
    padding: var(--padding-notbook);
  }
}

@media screen and (max-width: 1400px) {
  main {
    margin-top: 60px;
    padding: var(--padding-tablet);
  }
}

@media screen and (max-width: 900px) {
  main {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: var(--padding-mobile);
  }
}