html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.modal__complaint{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    pointer-events: none;
    opacity: 0;
    inset: 0;
    transition: opacity .25s ease;
}

.modal__complaint:target{
    opacity: 1;
    pointer-events: auto;
}

.modal__complaint__inner{
    padding: 20px 40px;
    height: 45%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__complaint__inner img{
    margin-bottom: 20px;
}

.modal__complaint__inner h1{
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
}

.modal__complaint__inner .complaint__message{
    font-size: var(--small-font-size);
    text-align: center;
}


/*================================================================================ RESPONSIVE ====================================================================*/
@media screen and (min-width: 1600px) {
    .modal__complaint__inner {
        max-width: 40%;
        height: 45%;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1280px) {
    .modal__complaint__inner {
        max-width: 50%;
        height: 45%;
        padding: 10px 20px;
    }
}


@media screen and (max-width: 900px) {
    .modal__complaint__inner {
        max-width: 60%;
        height: 60%;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 540px) {
    .modal__complaint__inner {
        max-width: 70%;
        height: 60%;
        padding: 10px 20px;
    }
}