:root {
    --color-pink: #FF006E;
    --color-red: #FD2B3B;
    --color-violet: #C11CAD;
    --color-blue1:#8CB9FF;
    --color-blue: #5697FF;
    --color-orange: #FB5607;
    --color-font-btn: #FFFFFF;
    --color-font-title: #252525;
    --color-font-links: #969595;
    --color-font-button: #000000;
    --color-font-subtitle: #797979;
    --color-font-descrit:#636363;
    --background-input:#F6F6F6;
    --background-footer: #292929;
    --color-font-footer: #DEDBDB;
    --size-links: 10px
	--sidebar-width: 250px;
    --input-menu-height: 22px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------- INPUT ----------*/
#input-menu{
    width: 450px;
    height: var(--input-menu-height);
    padding: 0 0 0 10px;
    border: none;
    background-color: var(--background-input);
    border-radius: var(--default-border-radius);
}

.button-input-menu{
    height: var(--input-menu-height);
    border: none;
    background-color: var(--background-input);
    border-radius: 0 0 2px 2px;
}

/* ------- ICONS ----------*/
.icons{
    display: flex;
    align-items: center;
}

.icons a{
    margin: 0 10px 0 10px;
    }

.icons hr{
    height: var(--input-menu-height);
    border: 0.5px solid rgb(185, 185, 185);
    margin: 0 5px 0 5px;
}

.icons i{
    color: var(--color-font-subtitle);
}

.icons i:hover{
    color: var(--color-blue);
}

/*------ USER ICON ------*/
.user-icon i {
    margin-right: 6px;
}

