/*======== SIDEBAR and MENU  =======*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--menu-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .logo__sidebar{
    transition: var(--img-transition);
    overflow: var(--img-hidden);
    scale: var(--img-scale);
    max-width: 180px;
    /* margin-left: 60px; */
    padding-left: 70px;
    padding-right: 30px;
    padding-bottom: 30px;

  }
  .sidenav a {
    padding: 12px 12px 12px 32px;
    text-decoration: none;
    font-size: var(--h2-font-size);
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: var(--first-color-second);
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 35px;
  }
  
  /* ---------------------------------------------------------------RESPONSIVIDADE ---------------------------------------------*/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: var(--h2-font-size);}
  }