.card__result__search{
    width: 100%;
    background-color: var(--background-card);
    border-radius: 1px;
    height: 100px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.card__new__case button{
    font-weight: 600;
    color: var(--first-color);
    transition: ease-in 300ms;
}

.card__new__case button{
    margin-top: 15px;
    padding: 10px 20px;
    width: 100% !important;
    border: solid 2px var(--first-color);
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: ease-in 300ms;
    border-radius: 1px;
    background-color: var(--background-card);
}


.card__new__case h6{
    text-align: center;
    color: var(--text-color);
    font-size: var(--datas-font);
    font-weight: 300;
}

.color__topic__result{
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var( ---color-assedio);
}

.content__search{
    width: 100%;
}

.color__topic__result h2{
    color: white;
    font-size: var(--normal-font-size);
}

.card__result__search h4{
    font-weight: 600;
    font-size: var(--name-font);
}

.card__result__search p{
    font-weight: 500;
    font-size: var(--datas-font);
}

.card__new__case {
    background-color: var(--background-card);
    border-radius: 1px;
    height: auto;
    padding-bottom: 10px;
    width: 100%;
    max-width: 240px;
    margin-top: 45px;
}

.button{
    margin-top: 5px;
    width: 100px;
  }

@media screen and (min-width: 1600px) {
    .search__content{
        gap: 15px;
    }

    .container__search{
        width: 100%;
    }
    
    .container__feed {
        width:100% ;
    }

    .content__complaint{
        width: 100%;
    }
    .content__feed {
        gap: 85px!important;
    }
}

@media screen and (max-width: 1599px){
    .container__search{
        width: 90%;
    }
    .container__feed {
        width:68% ;
    }
}

@media screen and (min-width: 1600px){
.container__feed {
    width: 65%;
}
}
 @media screen and (max-width: 900px) {
    .container__search{
        width: 100%;
    }
    .card__result__search{
        width: 100%;
    }
    }

 /*   @media screen and (min-width: 1600px) {
        .container__search{
            width: 72%;
        }
        .container__feed {
            width:65% ;
        }
    }
    
    @media screen and (max-width: 1448px) {
        .container__feed {

        }
    }
    
    @media screen and (max-width: 1599px) {
        .container__feed {

        }
    }

    @media screen and (max-width: 1000px) and (min-width: 900px) {
        .container__search{
            width: 80%;
        }
        .container__feed {
            width:40% ;
        }
    }
 */
