/* modal mais opções navbar */
.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    transition: opacity .25s ease;
}

.modal__classific {
    background: rgba(0, 0, 0, 0.571);
    transition: opacity .25s ease;
}

.card__more__class p {
    font-weight: 500;
    font-size: var(--city-font);
    margin: 10px 0 22px 0;
}

.desc__cases__type {
    font-weight: 500;
    font-size: var(--datas-font);
}

.desc__classfication {
    padding-left: 15px;
}

.content__notify span {
    font-size: 10px;
    margin: 3px 0;
    text-align: end;
    color: rgb(207, 207, 207);
}

.content__notify p {
    width: 100%;
    font-weight: 500;
    font-size: var(--city-font);
}

.content__notify a {
    color: var(--first-color);
    font-size: 12px;
    margin-bottom: 3px;
    font-weight: bold;
    text-align: end;
    cursor: pointer;
}

.content__notify .card__more__class hr {
    width: 100%;
    border-width: 0;
    height: 0.2px;
    border-top-width: 0.2px;
    border: 0.2px solid var(--border-color) !important;

}


.content__notify {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.modal__functions {
    opacity: 0;
    visibility: hidden;
    z-index: 4545456;
    position: absolute;
    top: 24px;
    right: 0;
    text-align: left;
    transition: opacity .25s ease;
}




.modal__bg,
.modal__bg__search {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.modal-state {
    display: none;
}

.modal-state:checked+.modal {
    opacity: 1;
    visibility: visible;
}

.modal-state:checked+.modal__functions {
    opacity: 1;
    visibility: visible;
}


.modal-state:checked+.modal .modal__inner .modal__inner__func .modal__inner__notify .modal__inner__classific {
    top: 0;
}

.modal__inner__notify {
    display: flex;
    flex-direction: column;
    transition: top .25s ease;
    position: absolute;
    width: 240px;
    background: var(--modal-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    height: 440px;
    max-height: 440px;
    overflow-y: scroll;
    transition: ease-in 300ms;
}

.modal__inner__func {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: var(--city-font);
    transition: top .25s ease;
    width: 183px;
    background: var(--modal-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    height: 70px;
    transition: ease-in 300ms;
}

.modal__inner {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: var(--city-font);
    transition: top .25s ease;
    position: absolute;
    width: 183px;
    background: var(--modal-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    height: 130px;
    transition: ease-in 300ms;
}

.modal__inner__search {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    justify-content: center;
    transition: top .25s ease;
    position: absolute;
    width: calc(100% - 2em);
    background: var(--modal-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    height: 80px;
    gap: 10px;
    margin-top: 10vh;
    transition: ease-in 300ms;

}

.modal__inner__publication {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: var(--city-font);
    transition: top .25s ease;
    position: absolute;
    width: 183px;
    background: var(--modal-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    height: 130px;
}

.modal__inner__classific {
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    transition: top .25s ease;
    position: absolute;
    width: 400px;
    background: var(--background-card);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    height: calc(80vh - 160px);
    max-height: 500px;
    gap: 10px;
    margin-top: 10vh;
    transition: ease-in 300ms;
    overflow-y: scroll;
}

.modal__close:before {
    transform: rotate(-45deg);
}

.options__modal__user {
    padding: 8px 2em;
    color: var(--text-color);
}

.options__modal__user:hover {
    color: var(--color-blue);
}

.modal__inner i {
    color: var(--text-color);
    padding: 10px 2em 0 0;
}

.modal__inner i:hover {
    color: var(--color-blue);
}

.mobile__input__search {
    width: auto;
}

.nav__mobile__input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px var(--border-color);
}

.nav__mobile__input input {
    width: 90%;
    margin-top: 10px;
}

.modal__inner__search div {
    width: 98%;
}

.modal__classific {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__notify hr{
    margin-right: 0 0 0;
    border-width: 0;
    height: 0.2px;
    border-top-width: 0.2px;
    border: 0.2px solid var(--border-color);
}

/*================================================================================ RESPONSIVE ====================================================================*/
/*======= MARGIN MODAIS =======*/
@media screen and (min-width: 1600px) {
    .modal__inner {
        margin-top: 60px;
        right: 33em;
    }

    .modal__inner__notify {
        margin-top: 60px;
        right: 32em;
    }

    .modal__inner__publication {
        margin-top: calc(40vh - 60px);
        left: 1em;
        right: 1em;
    }
}

@media screen and (max-width: 1599px) {
    .modal__inner {
        margin-top: 60px;
        right: 21em;
    }

    .modal__inner__notify {
        margin-top: 60px;
        right: 23em;
    }
}

@media screen and (max-width: 1400px) {
    .modal__inner {
        margin-top: 60px;
        right: 10em;
    }

    .display__modal {
        display: block;
    }

    .modal__inner__notify {
        margin-top: 60px;
        right: 11em;
    }
}

@media screen and (min-width: 900.1px) {
    .display__modal {
        display: none;
    }

    .modal__search {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .modal__classific {
        display: none;
    }

    .modal__inner__classific {
        display: none;
    }

    .modal__inner {
        margin-top: calc(80vh - 60px);
        right: 4em;
    }

    .modal__inner__notify {
        margin-top: 60px;
        right: 1em;
    }

    .modal__inner__search {
        margin-top: calc(50vh - 60px);
        left: 1em;
        right: 1em;
    }

    .display__modal {
        display: block;
    }

    .modal__search {
        display: block;
    }
}