html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.modal__terms{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    pointer-events: none;
    opacity: 0;
    inset: 0;
    transition: opacity .25s ease;
}

.modal__terms:target{
    opacity: 1;
    pointer-events: auto;
}

.modal__terms__inner{
    padding: 20px 40px;
    max-width: 40%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modal__terms__inner h1{
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
}

.modal__terms__inner .terms__and__conditions{
    font-size: var(--small-font-size);
    max-height: 200px;
    margin-bottom: 20px;
    overflow-y: auto;
}

.modal__terms__inner .agree__terms{
    font-size: var(--small-font-size);
}

/*================================================================================ RESPONSIVE ====================================================================*/
@media screen and (min-width: 1600px) {
    .modal__terms__inner {
        max-width: 40%;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 1280px) {
    .modal__terms__inner {
        max-width: 40%;
        padding: 10px 20px;
    }
}


@media screen and (max-width: 900px) {
    .modal__terms__inner {
        max-width: 60%;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 540px) {
    .modal__terms__inner {
        max-width: 70%;
        padding: 10px 20px;
    }
}