/*============================================================================ NAVS  =========================================================================*/

/*======== NAVBAR and MENU  =======*/
.nav__desktop__search {
    display: flex;
    border-bottom: solid 0.5px var(--border-color);
}

.nav__desktop__search input {
    width: 30px;
}

.nav__desktop select{
    background-color: var(--menu-color);
}

.nav__mobile__input input{
    background-color: var(--modal-color);
}

.nav__mobile__input select{
    background-color: var(--modal-color);
}



.nav__desktop__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 999999;
    border-bottom: solid 0.5px var(--border-color);
    background-color: var(--menu-color);
}

.nav__desktop__top img {
    width: 40px;
}

.nav__desktop__top__items {
    display: flex;
    gap: 25px;
}

.icon__user__initial {
    width: 30px;
    height: 30px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: 300;
    border-radius: 50%;
    background-color: #7D63A9;
}

.links__desktop {
    padding-right: 25px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    border-right: solid 1px var(--border-color);
}


/*======== MENU MOBILE =======*/
.nav__mobile {
    display: none;
}

.nav__desktop {
    display: block;
}


/*======== NAV MOBILE =======*/
.nav__mobile__top {
    padding: 15px 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 999999;
    border-bottom: solid 0.5px var(--border-color);
    background-color: var(--menu-color);
}

#logo{
    margin-top: 5px;
}

.nav__mobile__top img {
    width: 36px;
}

.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    will-change: transform;
    transform: translateZ(0);
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-top: solid 0.5px var(--border-color);
    background-color: var(--menu-color);
}

.mobile-bottom-nav__item {
    /* flex-grow: 1; */
    text-align: center;
    font-size: 15px;
    color: var(--links-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-bottom-nav__item--active a {
    color: var(--first-color) !important;
}

.link_active {
    color: var(--first-color) !important;
}

.nav__itens__links {
    /* flex-grow: 1; */
    text-align: center;
    font-size: 15px;
    color: var(--links-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__itens__links:hover {
    color: var(--links-hover);
}

.mobile-bottom-nav__item-content {
    display: flex;
    flex-direction: column;
}

.icon__mobile,
.icon__mobile__search {
    padding-top: 5px;
    cursor: pointer;
}

.mobile-bottom-nav__item a{
    text-decoration: none;
    color: var(--links-color);
}

input, select, option{
    background-color: var(--input-color);
    color: var(--text-color);
    border: none!important;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.search__icon{
    margin-top: 2px;
    padding-left: 10px; 
    text-decoration: none; 
    color: rgb(94, 94, 94);
}
/*================================================================================ RESPONSIVE ====================================================================*/
/*======= PADDING =======*/
@media screen and (min-width: 1600px) {
    .nav__desktop__top {
        padding: var(--padding-desktop);
    }
    .nav__desktop__search input {
        width: 430px;
    }
}

@media screen and (max-width: 1599px) {
    .nav__desktop__top {
        padding: var(--padding-notbook);
    }

    .nav__desktop__search input {
        width: 300px;
    }
}

@media screen and (max-width: 1040px) {
    .nav__desktop__search input {
        width: 250px!important;
    }
}

@media screen and (max-width: 1400px) {
    .nav__desktop__top {
        padding: var(--padding-tablet);
    }
    .nav__desktop__search input {
        width: 400px;
    }
    .content__feed {
        gap: 100px!important;
    }
}


@media screen and (max-width: 900px) {
    .nav__desktop {
        display: none;
    }

    .nav__mobile {
        display: block;
    }

    .mobile-bottom-nav__item--active {
        border-top: solid 2px var(--first-color);
        padding: 0 7px;
        color: var(--first-color);
    }
}